body{
    background-image: url('1985x1320-px-tools-workshops-1399389-wallhere.com.jpg');
    background-repeat: no-repeat;
    height: flex;
    display: center;
    align-items: center;
    color: white
}
div{
    color: white;
}
#kepek{
    width: 100px;
    height: 100px;
}
h1{
    text-align: center;
    color: white    ;
}
h3{
    text-align: center;
}

#navbar {
    position: fixed;
    top: 0px;
    width: 100%
}
img {
    background-color: white;
    opacity: 1,0;

}
.Navigáció {
    overflow: hidden;
    background-color: #333;
    border-radius: 60px;
}

.Navigáció a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.Navigáció a:hover {
   background-color: #ddd;
   color: black;
   
}
.Navigáció a.aktív {
   background-color: #17361e;
   color: white;
   border-radius: 22px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#tablazat {
box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
#cella {
    display: flex;
    justify-content: space-evenly;
}

#cella div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bukkkep{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    align-items: center;
}       
body{
    color: white;
}